<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  css 경로 확인하고 사용해주세용 -->
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <link rel="stylesheet" href="../../static/css/job-seeker/regist-form.css">
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">
        <div class="signup-content">
            <h1 class="signup-title">구직자 회원가입</h1>
            <form class="signup-form">
                <div class="signup-form-group">
                    <label for="username" class="signup-label"><span class="required">*</span> 아이디</label>
                    <input type="text" id="username" class="signup-input" placeholder="4~20자리 / 영문, 숫자, 특수문자 '_' 사용 가능">
                </div>
                <div class="signup-form-group">
                    <label for="password" class="signup-label"><span class="required">*</span> 비밀번호</label>
                    <input type="password" id="password" class="signup-input" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합">
                </div>
                <div class="signup-form-group">
                    <label for="confirm-password" class="signup-label"><span class="required">*</span> 2차 비밀번호</label>
                    <input type="password" id="confirm-password" class="signup-input" placeholder="">
                </div>
                <div class="signup-form-group">
                    <label for="name" class="signup-label"><span class="required">*</span> 이름</label>
                    <input type="text" id="name" class="signup-input" placeholder="">
                </div>
                <div class="signup-form-group">
                    <label for="email" class="signup-label"><span class="required">*</span> 이메일</label>
                    <input type="email" id="email" class="signup-input" placeholder="이메일">
                </div>
                <div class="signup-form-group">
                    <label for="birthdate" class="signup-label"><span class="required">*</span> 생년월일</label>
                    <input type="date" id="birthdate" class="signup-input">
                </div>
                <div class="signup-form-group">
                    <label class="signup-label"><span class="required">*</span> 성별</label>
                    <div class="signup-gender">
                        <label><input type="radio" name="gender" value="male"> 남자</label>
                        <label><input type="radio" name="gender" value="female"> 여자</label>
                    </div>
                </div>
                <div class="signup-form-group">
                    <label for="phone" class="signup-label"><span class="required">*</span> 휴대폰 번호</label>
                    <input maxlength="11" type="tel" id="phone" class="signup-input" placeholder="휴대폰 번호 (01012345678)">
                </div>
                <div class="signup-form-group signup-address-group">
                    <label class="signup-label"><span class="required">*</span> 주소</label>
                    <div class="signup-address-input">
                        <input type="text" class="signup-input" placeholder="우편번호">
                        <button type="button" class="signup-btn-find">주소찾기</button>
                    </div>
                    <input type="text" class="signup-input" placeholder="주소">
                    <input type="text" class="signup-input" placeholder="상세주소를 입력해주세요.">
                </div>
                <button type="submit" class="signup-btn-submit">회원가입</button>
            </form>
        </div>
    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>