<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footerFragment">
    <div class="footer-container">
        <div class="footer-left">
            <h3>INFORMATION</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <div class="footer-social-icons">
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/facebook--v1.png" alt="Facebook"></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/twitter--v1.png" alt="Twitter"></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram"></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>ALL RIGHTS ARE WITH 4PPLE</p>
        </div>
    </div>
</footer>
</html>