<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="headerFragment">
    <span class="logo"><img th:src="@{/static/images/logo.png}" alt="Logo"></span>
    <div class="header-middle">
        <input type="text" placeholder="검색">
        <button>
            <img src="https://img.icons8.com/ios-filled/50/000000/search--v1.png" alt="Search Icon">
        </button>
    </div>
    <div class="flex-row header-right">
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/search-form}">회원가입</a>
    </div>
</header>
<nav class="navbar" th:fragment="navbarFragment">
    <ul>
        <li><a href="#">이력서 등록</a></li>
        <li><a href="#">지원현황</a></li>
        <li><a href="#">채용리스트</a></li>
        <li><a href="#">커뮤니티</a></li>
    </ul>
</nav>
</html>