<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!--  css 경로 확인하고 사용해주세용 -->
  <link rel="stylesheet" href="../../static/common/css/common.css">
  <script src="../../static/javascript/utils/axios.js"></script>
  <script src="../../static/javascript/utils/image.js"></script>
</head>
<body>
<div class="container">
  <header th:replace="/layout/header :: headerFragment"></header>
  <nav th:replace="/layout/navbar :: navbarFragment"></nav>
  <div class="content">

  </div>
  <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>