<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="sidebar" th:fragment="sidebarFragment">
        <p>사용자 이름님</p>
        <ul class="menu" id="job-seeker-menu">
            <!-- 구직자용 사이드바 -->
            <li id="resume-status" class="active">
                <a href="/resume-status">나의 이력서 현황</a>
            </li>
            <li id="my-resume">
                <a href="/my-resume">나의 이력서</a>
            </li>
            <li id="my-scrap">
                <a href="/my-scrap">나의 스크랩</a>
            </li>
            <li id="jobseeker-bookmark">
                <a href="/bookmark/byJobSeeker">관심 기업</a>
            </li>
        </ul>

        <ul class="menu" id="company-menu">
            <!-- 기업용 사이드바 -->
            <li id="job-posting">
                <a href="/job-posting">공고 관리</a>
            </li>
            <li id="applicant-list">
                <a href="/applicant-list">지원자 목록</a>
            </li>
            <li id="company-profile">
                <a href="/company-profile">기업 프로필</a>
            </li>
            <li id="company-bookmark">
                <a href="/bookmark/byCompany">관심 구직자</a>
            </li>
        </ul>
    </div>
<!--    <div th:fragment="sidebarFragment">-->
<!--        <p th:text="${user.name} + '님'">사용자 이름님</p>-->

<!--        &lt;!&ndash; 구직자용 사이드바 &ndash;&gt;-->
<!--        <ul class="menu" th:if="${user.role == 'JOB_SEEKER'}">-->
<!--            <li id="resume-status" th:classappend="${page == 'resume-status'} ? 'active'">-->
<!--                <a href="/resume-status" th:href="@{/resume-status}">나의 이력서 현황</a>-->
<!--            </li>-->
<!--            <li id="my-resume" th:classappend="${page == 'my-resume'} ? 'active'">-->
<!--                <a href="/my-resume" th:href="@{/my-resume}">나의 이력서</a>-->
<!--            </li>-->
<!--            <li id="my-scrap" th:classappend="${page == 'my-scrap'} ? 'active'">-->
<!--                <a href="/my-scrap" th:href="@{/my-scrap}">나의 스크랩</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; 기업용 사이드바 &ndash;&gt;-->
<!--        <ul class="menu" th:if="${user.role == 'COMPANY'}">-->
<!--            <li id="job-posting" th:classappend="${page == 'job-posting'} ? 'active'">-->
<!--                <a href="/job-posting" th:href="@{/job-posting}">공고 관리</a>-->
<!--            </li>-->
<!--            <li id="applicant-list" th:classappend="${page == 'applicant-list'} ? 'active'">-->
<!--                <a href="/applicant-list" th:href="@{/applicant-list}">지원자 목록</a>-->
<!--            </li>-->
<!--            <li id="company-profile" th:classappend="${page == 'company-profile'} ? 'active'">-->
<!--                <a href="/company-profile" th:href="@{/company-profile}">기업 프로필</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</body>
</html>