<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  css 경로 확인하고 사용해주세용 -->
    <link rel="stylesheet" href="../../static/css/community/community.css">
    <script src="../../static/javascript/utils/axios.js"></script>
    <script src="../../static/javascript/utils/imageUtil.js"></script>
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
</div>

<h2>게시글</h2>

<ul class="post-list">
    <!-- 게시글 항목들 -->
    <li class="post-item" onclick="goToDetailPage(1)">
        <h3>제목 1</h3>
        <p>작성자: 홍길동 | 작성일자: 2024-12-31</p>
        <p>댓글수: 5 | 조회수: 100</p>
    </li>
    <li class="post-item" onclick="goToDetailPage(2)">
        <h3>제목 2</h3>
        <p>작성자: 이순신 | 작성일자: 2024-12-30</p>
        <p>댓글수: 3 | 조회수: 50</p>
    </li>
    <li class="post-item" onclick="goToDetailPage(3)">
        <h3>제목 3</h3>
        <p>작성자: 김유신 | 작성일자: 2024-12-29</p>
        <p>댓글수: 8 | 조회수: 200</p>
    </li>
    <li class="post-item" onclick="goToDetailPage(4)">
        <h3>제목 4</h3>
        <p>작성자: 윤혜나 | 작성일자: 2024-12-19</p>
        <p>댓글수: 4 | 조회수:100</p>

    </li>
</ul>
<script>
    function goToDetailPage(postId) {
// 예시로 postId에 맞는 상세 페이지로 이동
        window.location.href = `detail.html?postId=${postId}`;
</script>





</body>
</html>