<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  css 경로 확인하고 사용해주세용 -->
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <script src="../../static/javascript/utils/axios.js"></script>
    <script src="../../static/javascript/utils/imageUtil.js"></script>
    <script src="../../static/common/javascript/common.js"></script>
  </head>
  <body>
  <div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">

        <h2>내 게시물 관리</h2>
        <ul class="mypost">
            <th:block
            <li th:each="commnunity : ${communities}" class="post-item" onclick="goToDetailPage(1)">
                <h3 th:text="${community.title}">제목 1</h3>
                <h3 th:text="${community.content}">내용 1</h3>
            </li>
        </ul>


    </div>
      <script>
          function goToDetailPage(community_no) {
            // 예시로 postId에 맞는 상세 페이지로 이동
              window.location.href = `board/detail?communityNo=${community_no}`;
          }
      </script>

    <footer th:replace="/layout/footer :: footerFragment"></footer>
  </div>




  </body>
  </html>
