<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/common/css/common.css">
    <script src="../static/javascript/utils/axios.js"></script>
    <script src="../static/javascript/utils/sessionUserUtil.js"></script>
</head>
<body><header th:replace="/layout/header :: headerFragment"></header>
<nav th:replace="/layout/navbar :: navbarFragment"></nav>
<h1>기업 마이페이지</h1>

<footer th:replace="/layout/footer :: footerFragment"></footer>
</body>
</html>