<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/common/css/common.css">
    <script src="../static/common/javascript/common.js"></script>
    <link rel="stylesheet" href="../static/css/company-main.css">
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">
        <h2 class="section-title">현재 나의 채용중인 공고</h2>
        <div class="card-grid">
            <div class="card" th:each="jobPost : ${myJobPosts}">
                <img src="../static/images/logo.png" alt="포지션 이미지">
                <div class="card-content">
                    <div class="card-footer">
                        <span th:text="${jobPost.day}" class="d-day"></span>
                    </div>
                    <h3 class="card-company-name light" th:text="${jobPost.companyName}">카카오톡</h3>
                    <h3 class="card-title" th:text="${jobPost.title}">Java 백엔드 주니어 개발자</h3>
                    <ul class="skill-list" th:if="${jobPost.jobPostSkills != null}">
                        <li th:each="skill, skillStatus : ${@stringUtility.split(jobPost.jobPostSkills, ',')}"
                            th:text="${skill + (!skillStatus.last ? ' ·' : '')}"></li>
                    </ul>
                    <p class="card-meta"><span th:text="${jobPost.address}"></span><br><span th:text="${jobPost.jobHistory == 0 ? '신입' : '경력 ' + jobPost.jobHistory + '년'}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>