<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">



</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('../static/images/slider1.jpg')">
                    카카오톡<br>
                    온라인으로 연결된 곳이라면 지구 안 어디서든 무료입니다.<br>
                    1:1채팅, 그룹채팅 등을 이용하여 소중한 사람들과 대화를 나눠보세요
                </div>
                <div class="swiper-slide" style="background-image: url('../static/images/slider2.png')">
                    네이버<br>
                    탁월함을 위한 성장의 노력들을 적극 지원하며,<br>
                    회사와 함께 성장할 수 있는 기회를 만들어 갑니다
                </div>
                <div class="swiper-slide" style="background-image: url('../static/images/slider3.jpg')">
                    쿠팡<br>
                    유행하는 그 제품 쿠팡에서 특별한 가격에 만나보세요,<br>
                    와우회원한정 전상품 무료배송, 내일도착. 대형가전, 가구도 쿠팡에서!
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--            <div class="swiper-button-next"></div>-->
            <!--            <div class="swiper-button-prev"></div>-->
        </div>

        <div class="banner">
            4pple에서 첫 입사지원하고 네이버페이 받자!
        </div>
        <h2 class="section-title">이번주 인기 포지션</h2>
        <div class="card-grid">
            <div class="card" th:each="jobPost : ${popularJobPosts}">
                <img th:src="${@imageUtility.loadImage(jobPost.profileImage)}" alt="포지션 이미지">
                <div class="card-content">
                    <div class="card-footer">
                        <span th:text="${jobPost.day}" class="d-day"></span>
                    </div>
                    <h3 class="card-company-name light" th:text="${jobPost.companyName}">카카오톡</h3>
                    <h3 class="card-title" th:text="${jobPost.title}">Java 백엔드 주니어 개발자</h3>
                    <ul class="skill-list" th:if="${jobPost.jobPostSkills != null}">
                        <li th:each="skill, skillStatus : ${@stringUtility.split(jobPost.jobPostSkills, ',')}"
                            th:text="${skill + (!skillStatus.last ? ' ·' : '')}"></li>
                    </ul>
                    <p class="card-meta"><span th:text="${jobPost.address}"></span><br><span
                            th:text="${jobPost.jobHistory == 0 ? '신입' : '경력 ' + jobPost.jobHistory + '년'}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            // pagination: {
            //     el: '.swiper-pagination',
            //     clickable: true,
            // },
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },
            slidesPerView: 1,
            slidesPerGroup: 1
        });
    });
</script>
</body>
</html>