<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  css 경로 확인하고 사용해주세용 -->
    <link rel="stylesheet" href="../static/common/css/common.css">
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <h1 th:text="'검색 결과: ' + ${keyword}"></h1>

    <div th:if="${type == 'company'}">
        <h2>기업 검색 결과</h2>
        <ul>
            <li th:each="company : ${results}">
                <span th:text="${company.name}"></span> -
                <span th:text="${company.address}"></span> -
                <span th:text="${company.birth}"></span>
            </li>
        </ul>
    </div>

    <div th:if="${type == 'job'}">
        <h2>모집공고 검색 결과</h2>
        <ul>
            <li th:each="job : ${results}">
                <span th:text="${job.title}"></span> - <!--공고 제목-->
                <span th:text="${job.workCode}"></span> - <!--근무 형태-->
                <span th:text="${job.jobHistory}"></span> - <!--경력-->
                <span th:text="${job.educationCode}"></span> - <!--학력-->
                <span th:text="${job.jobRankCode}"></span> - <!-- 직급/직책 -->
                <span th:text="${job.workTypeCode}"></span> -<!--근무 형태-->
                <span th:text="${job.endDate}"></span> <!--마감일자-->
            </li>
        </ul>
    </div>

    <div th:if="${#lists.isEmpty(results)}">
        <p>검색 결과가 없습니다.</p>
    </div>

    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>