.edit-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.edit-input {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.gender-selector {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
}

.gender-input {
    display: none;
}

.gender-label {
    padding: 8px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #aaa;
    background-color: #f9f9f9;
    flex: 1;
    transition: all 0.3s;
    border-left: 1px solid #ddd;
}

.gender-label:first-child {
    border-left: none;
}

.gender-input:checked + .gender-label {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.edit-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.edit-form-group > .edit-address-input {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.edit-btn-find {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.button-container button {
    background-color: #0056b3;
}

.button-container button:hover {
    background-color: #218838;
}

.button-container  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.button-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
