.signup-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form-group {

}

.signup-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.required {
    color: red;
    font-weight: bold;
}

.signup-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.signup-gender {
    display: flex;
    align-content: center;
    gap: 15px;
}

.signup-gender-label {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.signup-address-group .signup-address-input {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.signup-btn-find {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.signup-btn-find:hover {
    background-color: #0056b3;
}

.signup-btn-submit {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.signup-btn-submit:hover {
    background-color: #218838;
}

.gender-selector {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
}

.gender-input {
    display: none;
}

.gender-label {
    padding: 8px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #aaa;
    background-color: #f9f9f9;
    flex: 1;
    transition: all 0.3s;
    border-left: 1px solid #ddd;
}

.gender-label:first-child {
    border-left: none;
}

.gender-input:checked + .gender-label {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.signup-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.signup-form-group > .signup-id-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signup-input {
    flex: 1;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.signup-btn-check {
    height: 40px;
    padding: 0 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    /*transition: background-color 0.3s, box-shadow 0.3s;*/
}

.signup-btn-check:hover {
    background-color: #0056b3;
}

.signup-btn-check:active {
    background-color: #004085;
    transform: scale(0.98);
}