<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  css 경로 확인하고 사용해주세용 -->
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <script src="../../static/javascript/utils/axios.js"></script>
    <script src="../../static/javascript/utils/imageUtil.js"></script>
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">
        <h2>채용 공고 리스트 </h2>

        <div id="job-post-container">

        </div>


    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
<script>
    window.onload = function getList(){
        axios.get('http://localhost:8080/api/v1/job-post/list', {
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
            console.log("가져오기 성공");
            const jobPosts = response.data;
            console.log(JSON.stringify(jobPosts, null, 2));  // jobPosts 객체를 JSON 형식으로 보기 좋게 출력

            jobPosts.forEach(jobPost => {
                console.log(`제목: ${jobPost[0]}`);
                console.log(`기술: ${jobPost[1]}`);
                console.log(`회사 아이디: ${jobPost[2]}`);
                console.log(`회사 주소: ${jobPost[3]}`);
            });

                //기업정보 + 채용정보 가져오기

                const jobPostContainer = document.getElementById("job-post-container");
                jobPosts.forEach(jobPosts => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${jobPost.title} , ${jobPost.companyUsername}, ${jobPost.companyAddress}`;
                    jobPostList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error("가져오기 실패:", error);
                alert("리스트 정보를 가져오기 실패, 다시 시도해주세요.");
            });
    }

</script>
</body>
</html>