<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <style>
        .wrap{
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <div class="content">
        <div class="wrap">

    <h2>채용 공고 등록</h2> <br>
            공고 제목 : <input type="text" name="title"><br>
            <h3> 담당자 정보</h3>
            담당자 명 : <input type="text" name="managerName"><br>
            담당자 전화번호 : <input type="text" name="managerPhone">
            담당자 이메일 : <input type="text" name="managerEmail"> <br>

            <h3>근무형태</h3>
            <select name="workTypeCode">
                <th:block th:each="gubun : ${workTypeList}">
                    <option th:value="${gubun.code}" th:text="${gubun.name}"></option>
                </th:block>
            </select>

            <h3> 직책 / 직급</h3>
            <select name="jobRankCode"><br>
                <th:block th:each="gubun : ${jobRankList}">
                    <option th:value="${gubun.code}" th:text="${gubun.name}"></option>
                </th:block>
            </select>

            <h3> 직무</h3>
            <select name="workCode"><br>
                <th:block th:each="gubun : ${workList}">
                    <option th:value="${gubun.code}" th:text="${gubun.name}"></option>
                </th:block>
            </select>

            <h3> 경력</h3>
            <input type="text" name="jobHistory"><br>

            <h3>***희망학력</h3>
            <select name="educationCode"><br>
                <th:block th:each="gubun : ${educationCodeList}">
                    <option th:value="${gubun.code}" th:text="${gubun.name}"></option>
                </th:block>
            </select>


            <h3> 연봉 </h3>
            <input type="text" name="jobSalary"><br>

            <h3>***보유스킬</h3>
            <div>
                <th:block th:each="gubun : ${skilList}">
                    <input type="checkbox" th:name="${gubun.code}" th:id="${gubun.code}">
                    <label th:for="${gubun.code}" th:text="${gubun.name}"></label><br>
                </th:block>
            </div>

            <h3> 모집 부분 및 상세내용</h3>
            <textarea name="content"></textarea><br>

            <h3> 전형 절차 </h3>
            <textarea name="process"></textarea><br>

            <h3> 접수 방법용 </h3>
            <textarea name="method"></textarea><br>

            <h3> **복리 후생 </h3>
            <input type="text" name="benefit_content">
            <input type="button" onclick=""> <br>

         <!--   <h3> **파일 업로드 </h3>
            <input type="file" name="file_name"><br>  -->

            <h3> 공고 시작일 / 마감일 </h3>
            <input type="date" name="startDate">
            <input type="date" name="endDate"><br>

            <h3> 상시 모집이면 공고 날짜 disable </h3>
            <input type="checkbox" name="temporary">

            <h3> 마감 </h3>
            <input type="checkbox" name="end_yn"><br>

            <input type="submit" value="등록">

        </div>
    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>


