<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../../static/common/css/common.css">
  <script src="../../static/javascript/utils/axios.js"></script>
  <script src="../../static/javascript/utils/imageUtil.js"></script>
  <script src="../../static/common/javascript/common.js"></script>
  <style>
    .wrap{
      text-align: center;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="container">
  <header th:replace="/layout/header :: headerFragment"></header>
  <nav th:replace="/layout/navbar :: navbarFragment"></nav>
  <div class="content">
    <div class="wrap">
      <form id="applicationForm">
        <h2>채용 공고 등록</h2> <br>

        <label for="title">공고 제목:</label>
        <input type="text" id="title" name="title" th:value="${jobPost.title}"><br>

        <h3>담당자 정보</h3>
        <label for="managerName">담당자 명:</label>
        <input type="text" id="managerName" name="managerName" th:value="${jobPost.managerName}"><br>

        <label for="managerPhone">담당자 전화번호:</label>
        <input type="text" id="managerPhone" name="managerPhone" th:value="${jobPost.managerPhone}"><br>

        <label for="managerEmail">담당자 이메일:</label>
        <input type="text" id="managerEmail" name="managerEmail" th:value="${jobPost.managerEmail}"><br>

        <h3>근무형태</h3>
        <label for="workTypeCode">근무형태:</label>
        <select id="workTypeCode" name="workTypeCode">
          <th:block th:each="gubun : ${workTypeList}">
            <option th:value="${gubun.name}" th:text="${gubun.name}"
                    th:selected="${gubun.name == jobPost.workTypeCode}"></option>
          </th:block>
        </select>

        <h3>직책 / 직급</h3>
        <label for="jobRankCode">직책/직급:</label>
        <select id="jobRankCode" name="jobRankCode">
          <th:block th:each="gubun : ${jobRankList}">
            <option th:value="${gubun.name}" th:text="${gubun.name}"
                    th:selected="${gubun.name == jobPost.jobRankCode}"></option>
          </th:block>
        </select><br>

        <h3>직무</h3>
        <label for="workCode">직무:</label>
        <select id="workCode" name="workCode">
          <th:block th:each="gubun : ${workList}">
            <option th:value="${gubun.name}" th:text="${gubun.name}"
                    th:selected="${gubun.name == jobPost.workCode}"></option>
          </th:block>
        </select><br>

        <h3>경력</h3>
        <label for="jobHistory">경력 (년):</label>
        <input type="number" id="jobHistory" name="jobHistory" th:value="${jobPost.jobHistory}"><br>

        <h3>희망학력</h3>
        <label for="educationCode">희망학력:</label>
        <select id="educationCode" name="educationCode">
          <th:block th:each="gubun : ${educationCodeList}">
            <option th:value="${gubun.name}" th:text="${gubun.name}"
                    th:selected="${gubun.name == jobPost.educationCode}"></option>
          </th:block>
        </select><br>

        <h3>연봉 (*천만원)</h3>
        <label for="jobSalary">연봉:</label>
        <input type="number" id="jobSalary" name="jobSalary" th:value="${jobPost.jobSalary}"><br>

        <h3>보유스킬</h3>
        <div>
          <th:block th:each="gubun : ${skilList}">
            <input type="checkbox" id="skill_${gubun.code}" th:name="jobPostSkills" th:value="${gubun.code}"
                   th:checked="${jobPost.jobPostSkills.contains(gubun.code)}">
            <label for="skill_${gubun.code}" th:text="${gubun.name}"></label><br>
          </th:block>
        </div>

        <h3>모집 부분 및 상세내용</h3>
        <label for="content">상세 내용:</label>
        <input type="text" id="content" name="content" th:value="${jobPost.content}"><br>

        <h3>전형 절차</h3>
        <label for="process">전형 절차:</label>
        <input type="number" id="process" name="process" th:value="${jobPost.process}"><br>

        <h3>접수 방법</h3>
        <label for="method">접수 방법:</label>
        <input type="text" id="method" name="method" th:value="${jobPost.method}"><br>

        <h3>유의사항</h3>
        <label for="addNotice">유의 사항</label>
        <input type="text" id="addNotice" name="addNotice" th:value="${jobPost.addNotice}"><br>

        <h3>복리 후생</h3>
        <label for="benefitContent">복리 후생 내용:</label>
        <input type="text" id="benefitContent" name="benefitContent" th:value="${jobPost.benefitContent}"><br>

        <h3>공고 시작일 / 마감일</h3>
        <label for="startDate">시작일:</label>
        <input type="date" id="startDate" name="startDate" th:value="${jobPost.startDate}"><br>
        <label for="endDate">마감일:</label>
        <input type="date" id="endDate" name="endDate" th:value="${jobPost.endDate}"><br>

        <h3>상시 모집</h3>
        <label for="temporary">상시 모집:</label>
        <input type="checkbox" id="temporary" name="temporary"><br>

        <h3>마감</h3>
        <label for="endYn">공고 마감:</label>
        <input type="checkbox" id="endYn" name="endYn" th:checked="${jobPost.endYn}"><br>

        <input type="hidden" name="username" th:value="${session.user.username}">

        <input type="submit" value="등록" onclick="regist(event)">
      </form>
    </div>
  </div>

  <footer th:replace="/layout/footer :: footerFragment"></footer></div>
</body>
</html>
