<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../static/common/css/common.css">
</head>
<body>
<div>
    <header th:replace="/layout/header :: headerFragment"></header>
    <nav th:replace="/layout/navbar :: navbarFragment"></nav>
    <h1>제안서 보낼 페이지</h1>
    <div th:each="resume : ${resumes}" style="margin-bottom: 20px;">
        <div>
            <label>이력서 제목: </label>
            <a th:href="@{|/company/resume-detail/${resume.id}|}" th:text="${resume.title}"></a>
        </div>
        <div>
            <label>이름: </label>
            <span th:text="${resume.name}">[이름]</span>
        </div>
        <div>
            <label>나이: </label>
            <span th:text="${resume.age}">[나이]</span>
        </div>
        <div>
            <label>성별: </label>
            <span th:text="${resume.gender}">[성별]</span>
        </div>
        <hr>
    </div>
    <footer th:replace="/layout/footer :: footerFragment"></footer>
</div>
</body>
</html>